# se omiten los precompilados
Febos/**
.DS_Store
*.class
**/*.class

# compilados
*.war
**/*.war
*.ear
**/*.ear
*.ejb
**/*.ejb

#logs
logs/**
hs_err_pid*
**/*.log

#netbeans
**/build/**
**/nbproject/**
**/dist/**
**/build.xml
**/manifest.mf
**/manifests.mf
**/.project
**/.metadata
**/bin/**
**/tmp/**
**/tmp/**/*
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.classpath
**/.classpath/*
**/.settings/*
**/.settings
**/.loadpath
**/.loadpath/*
**/catalog.xml
**/target/*
**/target
**/target/*.jar
#febos
Febos/**
febos.properties
services.properties
/plugins/FebosPluginProcesarLibroTXT/nbproject/private/
/plugins/FebosPluginProcesarLibroTXT/build/
/plugins/FebosPluginSendLibroToSii/nbproject/private/
/plugins/FebosPluginSendLibroToSii/build/
/plugins/FebosPluginSendLibroToSii/dist/
/plugins/FebosPluginProcesarLibroTXT/dist/
/complements/FebosFolioWarning/dist/
/core/FebosProxyAPI/nbproject/private/
/core/FebosProxyAPI/build/
/core/FebosProxyAPI/dist/
/core/FebosPreLibroCsv/nbproject/private/
/complements/PreLibroCsv/nbproject/private/
/complements/PreLibroCsv/build/
/complements/PreLibroCsv/dist/
/complements/PreLibroCsv/build
/complements/FebosPreLibroCsv/nbproject/private/
/complements/Pruebas/nbproject/private/
/core/FebosCore/dist/
/plugins/FebosPluginSendToCorfo/nbproject/private/
/plugins/FebosPluginSendToCorfo/build/
/plugins/FebosPluginSendToCorfo/dist/
/plugins/FebosPluginUpdateSiiMessage/build/
/plugins/FebosPluginReplaceText/nbproject/private/
/plugins/FebosPluginReplaceText/build/
/plugins/FebosPluginReplaceText/dist/
/plugins/FebosPluginReplaceTagContent/nbproject/private/
/plugins/FebosPluginReplaceTagContent/build/
/plugins/FebosPluginReplaceTagContent/dist/
/plugins/FebosPluginGuardarResumenLibro/nbproject/private/
/plugins/FebosPluginGuardarResumenLibro/build/
/plugins/FebosPluginGuardarResumenLibro/dist/
/plugins/FebosPluginFromDir/nbproject/private/
/plugins/FebosPluginUpdateSiiMessage/nbproject/private/
/core/FebosCore/build/
/core/FebosAPI/dist/
/core/FebosWeb/build/
/core/FebosWeb/dist/
/core/FebosCore/nbproject/private/
/core/FebosAPI/nbproject/private/
/core/FebosWeb/nbproject/private/
/core/FebosServer/nbproject/private/
/core/FebosServer/build/
/core/FebosServer/dist/
/core/FebosAPI/build/
/core/PDFViewer/nbproject/private/
/core/PDFViewer/build/
/core/PDFViewer/dist/
/services/FebosServiceLoadReceptoresElectronicos/nbproject/private/
/services/FebosServiceSendToSII/nbproject/private/
/services/FebosServiceSendToSII/build/
/services/FebosServiceSendToSII/dist/
/services/FebosServiceLoadReceptoresElectronicos/dist/
/services/FebosServiceLoadReceptoresElectronicos/build/
/plugins/FebosPluginUpdateSiiMessage/dist/
/plugins/FebosPluginSubirDTERecibido/nbproject/private/
/plugins/FebosPluginHistoricoSignature/nbproject/private/
/plugins/FebosPluginHistoricoSignature/build/
/plugins/FebosPluginHistoricoSignature/dist/
/plugins/FebosPluginSubirDTERecibido/build/
/plugins/FebosPluginSubirDTERecibido/dist/
/plugins/FebosPluginMoveFile/nbproject/private/
/plugins/FebosPluginMoveFile/build/
/plugins/FebosPluginMoveFile/dist/
/complements/FebosGMailConnect/nbproject/private/
/plugins/FebosPluginRemoveTag/nbproject/private/
/services/FebosServiceCheckSiiResponse/nbproject/private/
/plugins/FebosPluginProcesarTXT/nbproject/private/
/plugins/FebosPluginProcesarTXT/build/
/plugins/FebosPluginUpdateSiiMessage/nbproject/private/
/plugins/FebosPluginEsCliente/nbproject/private/
/plugins/FebosPluginEsCliente/build/
/plugins/FebosPluginEsCliente/dist/
/plugins/FebosPluginCsvLineToXml/nbproject/private/
/plugins/FebosPluginCsvLineToXml/build/
/plugins/FebosPluginCsvLineToXml/dist/
/plugins/FebosPluginCargarCaf/nbproject/private/
/plugins/FebosPluginCargarCaf/build/
/plugins/FebosPluginCargarCaf/dist/
/plugins/FebosPluginRefirmarRetimbrarDTE/nbproject/private/
/plugins/FebosPluginRefirmarRetimbrarDTE/build/
/plugins/FebosPluginRefirmarRetimbrarDTE/dist/
/plugins/FebosPluginGenerarReciboMercaderias/nbproject/private/
/plugins/FebosPluginPrintFile/nbproject/private/
/plugins/FebosPluginPrintDtePdf/nbproject/private/
/plugins/FebosPluginPrintDtePdf/build/
/plugins/FebosPluginPrintDtePdf/dist/
/plugins/FebosPluginSendToSII/nbproject/private/
/plugins/FebosPluginSendToSII/build/
/plugins/FebosPluginUpdateUnreceivedDTE/nbproject/private/
/plugins/FebosPluginUpdateUnreceivedDTE/build/
/plugins/FebosPluginUpdateUnreceivedDTE/dist/
/plugins/FebosPluginLoadUnreceivedDTE/nbproject/private/
/plugins/FebosPluginLoadUnreceivedDTE/build/
/plugins/FebosPluginLoadUnreceivedDTE/dist/
/plugins/FebosPluginMarkDteAsReceived/nbproject/private/
/plugins/FebosPluginAcuseReciboDTE/nbproject/private/
/plugins/FebosPluginAcuseReciboDTE/build/
/plugins/FebosPluginAcuseReciboDTE/dist/
/plugins/FebosPluginGenerarReciboMercaderias/nbproject/private/
/complements/RequestResendSiiMail/nbproject/private/
/complements/RequestResendSiiMail/build/
/plugins/FebosPluginEnsobrarDTE/nbproject/private/
/complements/EmailSenderEngine/build/
/complements/EmailSenderEngine/dist/
/plugins/FebosPluginMarkDteAsReceived/build/
/plugins/FebosPluginMarkDteAsReceived/dist/
/plugins/PRUEBA/nbproject/private/
/plugins/PRUEBA/build/
/plugins/PRUEBA/dist/
/services/FebosServiceRequestTokenSII/nbproject/private/
/services/FebosServiceRequestTokenSII/build/
/services/FebosServiceRequestTokenSII/dist/
/plugins/FebosPluginVerifySII/nbproject/private/
/plugins/FebosPluginDteSplitter/nbproject/private/
/plugins/FebosPluginSendToCorfo/nbdist/
/plugins/FebosPluginFromDir/build/
/plugins/FebosPluginFromDir/dist/
/core/CURSOEXPRESS/nbproject/private/
/core/CURSOEXPRESS/build/
/services/WorkflowEngine/nbproject/private/
/services/WorkflowEngine/build/
/complements/ProcesaCesion/nbproject/private/
/complements/ProcesaCesion/build/
/complements/ProcesaCesion/dist/
/complements/ProcesaCesion/nbproject/private/
/complements/ProcesaCesion/build/
/complements/ProcesaCesion/dist/
/complements/ProcesaCesion/nbproject/private/
/complements/ProcesaCesion/build/
/complements/ProcesaCesion/dist/
/complements/PreLibroCsvGuia/nbproject/private/
/complements/PreLibroCsvGuia/build/
/complements/PreLibroCsvGuia/dist/
/complements/FebosNoRecibidosCsv/build/
/complements/FebosDTENoRecibidosCsv/nbproject/private/
/complements/FebosComplemetReports/nbproject/private/
/complements/FebosComplemetReports/build/
/complements/FebosComplemetReports/dist/
/complements/FebosLocalService/target/
/plugins/FebosPluginEscribirBitacora/nbproject/private/
/plugins/FebosPluginEscribirBitacora/build/
/plugins/FebosPluginEscribirBitacora/dist/
/services/FebosServiceCheckSiiResponse/build/
/services/FebosServiceCheckSiiResponse/dist/
**/version
/core/FebosServiceSendBoletasToSI/nbproject/private/
/core/FebosServiceSendBoletasToSI/build/